<ul nz-menu nzMode="inline">
  <li nz-submenu nzTitle="Usuarios" nzIcon="user">
    <ul>
      <li nz-menu-item nzSelected (click)="showModal('cadastroUsuario')">
        <nz-icon nzType="user-add" nzTheme="outline" /> Cadastrar Usuário
      </li>
      <li nz-menu-item (click)="closeMenu()" [routerLink]="'/admin/profiles'">
        <nz-icon nzType="team" nzTheme="outline" /> Ver Usuários
      </li>
    </ul>
  </li>
  <li nz-submenu nzTitle="Projetos" nzIcon="project">
    <ul>
      <li nz-menu-item nzSelected (click)="showModal('cadastroProjeto')">
        <nz-icon nzType="plus" nzTheme="outline" /> Novo Projeto
      </li>
      <li nz-menu-item (click)="closeMenu()" [routerLink]="'/admin/projects'">
        <nz-icon nzType="profile" nzTheme="outline" /> Ver Projetos
      </li>
    </ul>
  </li>
  <li nz-submenu nzTitle="Atividades" nzIcon="carry-out">
    <ul>
      <li nz-menu-item nzSelected (click)="showModal('cadastroTask')">
        <nz-icon nzType="plus" nzTheme="outline" /> Nova atividade
      </li>
      <li nz-menu-item (click)="closeMenu()" [routerLink]="'/admin/tasks'">
        <nz-icon nzType="schedule" nzTheme="outline" /> Ver Atividades
      </li>
    </ul>
  </li>
  <li nz-submenu nzTitle="Horas" nzIcon="clock-circle">
    <ul>
      <li nz-menu-item nzSelected (click)="showModal('cadastroHour')">
        <nz-icon nzType="plus" nzTheme="outline" /> Novo lançamento
      </li>
      <li nz-menu-item (click)="closeMenu()" [routerLink]="'/admin/hours'">
        <nz-icon nzType="field-time" nzTheme="outline" /> Ver Lançamentos
      </li>
    </ul>
  </li>

  <nz-modal
    [(nzVisible)]="isModalVisible"
    [nzTitle]="modalTitle"
    [nzContent]="modalContent"
    [nzFooter]="null"
    (nzOnCancel)="handleCancel()"
  >
    <ng-container *ngTemplateOutlet="modalContent"></ng-container>
  </nz-modal>

  <ng-template #cadastroUsuario>
    <app-cadastro-usuario (closeModal)="handleCancel()"/>
  </ng-template>
  <ng-template #cadastroProjeto>
    <app-cadastro-projects (closeModal)="handleCancel()"/>
  </ng-template>
  <ng-template #cadastroTask>
    <app-cadastro-task (closeModal)="handleCancel()"/>
  </ng-template>
  <ng-template #cadastroHour>
    <app-cadastro-hours (closeModal)="handleCancel()"/>
  </ng-template>
</ul>
