<form nz-form [formGroup]="profileEditForm">
  <nz-form-item>
    <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired>Nome</nz-form-label>
    <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="Obrigatorio">
      <input nz-input formControlName="nome" />
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired>E-mail</nz-form-label>
    <nz-form-control
      [nzSm]="14"
      [nzXs]="24"
      nzErrorTip="Formato de email não valido"
    >
      <input nz-input formControlName="email" />
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired>Senha</nz-form-label>
    <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="Obrigatorio">
      <input nz-input formControlName="senha"/>
    </nz-form-control>
  </nz-form-item>

  <nz-form-item>
    <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired>Perfil</nz-form-label>
    <nz-form-control [nzSm]="14" [nzXs]="24">
      <nz-input-group>
        <nz-select formControlName="perfil">
          <nz-option nzLabel="USUARIO" nzValue="USUARIO"></nz-option>
          <nz-option nzLabel="ADMIN" nzValue="ADMIN"></nz-option>
        </nz-select>
      </nz-input-group>
    </nz-form-control>
  </nz-form-item>

  <nz-form-item nz-row class="register-area">
    <nz-form-control [nzSpan]="14" [nzOffset]="6">
      <button
        nz-button
        nzType="primary"
        type="button"
        nzShape="round"
        [nzLoading]="isConfirmLoading"
        (click)="onSubmit()"
      >
        Confirmar
      </button>
    </nz-form-control>
  </nz-form-item>
</form>
