<nz-layout>
  <nz-header>
    <h1>Projeto Final</h1>
  </nz-header>
  <nz-content>
    <h2>Fazer login</h2>
    <form
      nz-form
      [formGroup]="formulario"
      class="login-form"
      (keyup.enter)="onSubmit()"
    >
      <nz-form-item>
        <nz-form-control nzErrorTip="Formato de email não valido">
          <nz-input-group nzSize="large" nzPrefixIcon="user">
            <input
              type="email"
              nz-input
              formControlName="email"
              placeholder="E-mail"
            />
          </nz-input-group>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-control nzErrorTip="Por favor, insira sua senha!">
          <nz-input-group nzSize="large" nzPrefixIcon="lock">
            <input
              type="password"
              nz-input
              formControlName="senha"
              placeholder="Senha"
            />
          </nz-input-group>
        </nz-form-control>
      </nz-form-item>
      <button nz-button nzType="primary" type="button" [disabled]="!formulario.valid" [nzLoading]="isConfirmLoading"
      nzShape="round"
      (click)="onSubmit()">
        Log in
      </button>
    </form>
  </nz-content>
  <nz-footer>Footer</nz-footer>
</nz-layout>
