nz-icon {
    font-size: 28px;

  }

#icons{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}


  #deleteButton {
    background-color: red;
  }

  #deleteButton:hover {
    background-color: darkred;
  }