<form (keyup.enter)="onSubmit()" nz-form [formGroup]="projectEditForm">
  <nz-form-item>
    <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired>Nome</nz-form-label>
    <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="Obrigatório">
      <input nz-input formControlName="nome" />
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired>Descricao</nz-form-label>
    <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="Obrigatório">
      <textarea
        [nzAutosize]="{ minRows: 2, maxRows: 6 }"
        nz-input
        formControlName="descricao"
      ></textarea>
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired
      >Data de inicio</nz-form-label
    >
    <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="Obrigatório">
      <nz-date-picker [nzFormat]="'dd/MM/yyyy'" formControlName="data_inicio" />
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired>Data final</nz-form-label>
    <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="Obrigatório">
      <nz-date-picker [nzFormat]="'dd/MM/yyyy'" formControlName="data_fim" />
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired>Estatus</nz-form-label>
    <nz-form-control [nzSm]="14" [nzXs]="24">
      <nz-input-group>
        <nz-select nzAllowClear formControlName="status">
          <nz-option nzLabel="Planejado" nzValue="PLANEJADO"></nz-option>
          <nz-option nzLabel="Em andamento" nzValue="EM_ANDAMENTO"></nz-option>
          <nz-option nzLabel="Concluído" nzValue="CONCLUIDO"></nz-option>
          <nz-option nzLabel="Cancelado" nzValue="CANCELADO"></nz-option>
        </nz-select>
      </nz-input-group>
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired>Prioridade</nz-form-label>
    <nz-form-control [nzSm]="14" [nzXs]="24">
      <nz-input-group>
        <nz-select nzAllowClear formControlName="prioridade">
          <nz-option nzLabel="Alta" nzValue="ALTA"></nz-option>
          <nz-option nzLabel="Media" nzValue="MEDIA"></nz-option>
          <nz-option nzLabel="Baixa" nzValue="BAIXA"></nz-option>
        </nz-select>
      </nz-input-group>
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired>Responsável</nz-form-label>
    <nz-form-control [nzSm]="14" [nzXs]="24">
      <nz-input-group>
        <nz-select
          formControlName="id_usuario_responsavel"
          nzShowSearch
          nzAllowClear
          nzPlaceHolder="Selecione o usuário"
        >
          @for(usuario of profilesName; track usuario.id) {
          <nz-option
            [nzLabel]="usuario.nome"
            [nzValue]="usuario.id"
          ></nz-option>
          }
        </nz-select>
      </nz-input-group>
    </nz-form-control>
  </nz-form-item>

  <nz-form-item nz-row class="register-area">
    <nz-form-control [nzSpan]="14" [nzOffset]="6">
      <button
        nz-button
        nzType="primary"
        type="button"
        nzShape="round"
        [disabled]="!projectEditForm.valid"
        [nzLoading]="isConfirmLoading"
        (click)="onSubmit()"
      >
        Confirmar
      </button>
    </nz-form-control>
  </nz-form-item>
</form>
